<header class="intro" id ="f">
  <div class="intro-body">


<h1 class="brand-heading color-blue">Eugene Wang</h1>
<div class="start">
<ul class="list-inline banner-social-buttons">
<li class="extender">
  <a href="https://firebasestorage.googleapis.com/v0/b/eugenewangme.appspot.com/o/eugeneResume.pdf?alt=media" class="btn btn-default btn-lg color-black">
    <span class="network-name">Resume</span>
  </a>
</li>
  <li class="inliner">
    <a href="https://www.linkedin.com/in/eugeneywang" class="btn btn-default btn-lg color-linkedIn">
    <i class="fa fa-linkedin fa-fw"></i>LinkedIn
    </a>
  </li>
  <li class="inliner">
    <a href="https://github.com/Kamagawa/"class="btn btn-default btn-lg color-git">
    <i class="fa fa-github fa-fw" ></i> GitHub
    </a>
  </li>

  <li class="inliner">
    <a href="https://play.google.com/store/apps/developer?id=Eugene+Yujing+Wang" class="btn btn-default btn-lg color-android">
    <i class="fa fa-android fa-fw"></i>Play Store
    </a>
  </li>
</ul>
</div>
</div>
</header>
