#master {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  width: 850px;
  height: 1100px;
  display: flex;
  flex-direction: column;

}

body {
  background-image: linear-gradient(
    141deg,
    rgb(15, 184, 173) 0%,
    rgb(31, 200, 219) 51%,
    rgb(44, 181, 232) 75%);
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

section{
  margin-bottom: 14px;
}



.input-field label {
    color: black;
}

@media print {

    #setup {
      visibility: hidden;
    }

    #master {

        width: 850px;
        height: 1100px;
        display: flex;
        flex-direction: column;

    }
  }

.dev {
    margin: 64px auto 64px auto;
    border: solid thin grey;
}

#header h5 {
    font-size: 48px;
    font-weight: 200;
    margin: 18px 4px 2px;
    color: black;
}

#header p {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    line-height: 1.3;
}

div.hr {
    height: 1px;
    border-top: solid thin #888;
    margin: 0.5em 10px 20px;
}

#toplevel {
    display: flex;
    flex: 1;
    padding: 0 50px 50px 50px;
}

#sidebar {
    flex: 1.15;
}

#margin {
    width: 18px;
}

#toplevel h5 {
    font-size: 24px;
    font-weight: 300;
    color: #999;
    margin: 0 0 8px;
}

#toplevel h4 {
    font-size: 21px;
    font-weight: 500;
    color: #444;
    margin: 0 0 3px;
}

#toplevel li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.45;
}

#toplevel ul {
    margin: 0 0 24px;
}

#toplevel span {
    font-size: 18px;
    line-height: 1.3;
}

#toplevel p {
    margin: 0;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}

#toplevel h3 span {
    font-weight: 500;
}

#toplevel h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
}

#toplevel h2 {
    font-size: 18px;
    margin: 0 0 0 0;
    font-weight: 300;
    text-decoration: none;
}

h2 a{
   color: inherit;
}

#toplevel span.date {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    line-height: 1.2;
}

#main {
    flex: 2;
}

#main ul, #main li {
    list-style-type: disc;
}

#main ul {
    margin-top: 2px;
    margin-bottom: 10px;
}

#main li {
    margin-left: 37px;
    font-size: 16px;
    color: #666;
}


b {
    font-weight: 500;
    color: #444;
}

#toplevel h5.interests {
    margin: 0 0 4px;
}

#topleve #prjects h2 {
  margin-bottom: 0px;
}

h2 a {
  text-decoration: underline;
}

p a{
  color: #666;
  text-decoration: underline;

}

#header a {
  color: #039be5;
  text-decoration: none;
}

.icon {
  margin: auto;
  width: 40px;
  height: 40px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
