<div class="container">
<div id = "projects">
  <div class="secTitle">
    <h1 style="text-align: center;">Experience</h1>
  </div>

  <ul>
    <div *ngFor="let post of posts " >
      <a href="{{post.link}}">
        <div class="secBody">
            <img [src] = "getPic(post.imgurl)"  />
            <div class = "text">
                <h3>{{post.title}}</h3>
                <h6 style="display: inline; "> <b>{{post.location}}</b></h6>
                <h6 style=" float: right;"><i>{{post.duration}}</i></h6>
                <p> {{post.desc}}    </p>
            </div>
        </div>
      </a>
    </div>
  </ul>
</div>
</div>
