/* You can add global styles to this file, and also import other style files */

.starter-template {
   padding: 3rem 1.5rem;
   text-align: center;
}

* {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


a{
   text-decoration: none;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  text-decoration:none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  display: block;
  color: black;
  background-color: #fafafa;
}

.intro {
  display: table;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  /*background: url(../img/intro-bg.gif) bottom center no-repeat #000; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro, body, html {
  width: 100%;
}

.brand-heading {
color: #0000ff;
}

ul {
padding-left: 0px;
padding-right: 0px;

}
.intro {
/*background: url(../img/beach.jpg) no-repeat bottom center scroll;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1 {
  margin: 0 0 35px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 36px;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;


}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  color: #fff;
  background-color: #0495c9;
  border-color: #357ebd; /*set the color you want here*/
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e; /*set the color you want here*/
}


.block {
text-align: center;
padding-top: 20px;
margin: 0px;
}

.intro {
padding: 0;
top: 0;
bottom: 0;
height: 100vh;
overflow: hidden;
}

.intro .intro-body {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}


ul.banner-social-buttons li.inliner {
display: inline-block;
border: 0px;
margin: 0px;
margin-top: 20px;
width: auto;
padding: 0px;
}

ul.banner-social-buttons li.extender {
display: block;
margin-top: 40px;
margin-bottom: 40px;
width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


@media (min-width: 768px) {

.intro .intro-body .brand-heading {
  font-size: 60px;
}

.intro .intro-body .start {
  font-size: 40px;
}

.half7 {
  width: 50%;
  padding-right: 20px;
}

.half3 {
  width: 50%;
  padding-left: 20px;
}

  .content-section {
      padding-top: 120px;
      padding-bottom: 100px;
  }
}


.secTitle {
  padding-top : 100px;
  padding-bottom: 20px;
}

.intro .secTitle {
  padding-top: 0px;
}
.secBody {
  background: white;
  min-height: 200px;
  height: auto;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.secBody:hover {
   box-shadow: 3px 7px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0
}

.container {
  width: auto;
  margin:auto;
  position: relative;
}

.secBody img{
  float:left;
  height: 200px;
  width: 200px;
  margin-right: 20px;
  margin-left:0.01px;
}



/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.color-git {
  background:black;
  color:white
}

.color-linkedIn {
  background:blue;
  color:white
}

.color-android {
  background:green;
  color:white
}


@media (min-width: 1054px) {
  .container {
      width: 1024px;
  }

   .secBody img{
      margin-right: 30px;
  }

}

@media (max-width: 580px) {
  .container {
      margin: 0;
      padding: 0;
  }
  .secBody {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1px;
      margin-top: 1px;
  }
  .secBody img{
      float: left;
      height: 70px;
      width: 70px;
      margin-left: 0.01px;
      margin-right: 0.01px;
  }
  ul.banner-social-buttons li.inliner {
    display: block;
    border: 0px;
    margin: 0px;
    margin-top: 0px;
    width: 80%;
    padding: 0px;
  }

  .text h2{
      text-align: center;
  }
}


.text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}
